body {
  background-color: #333;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-size: 100% 100%;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
}

#remote { margin-top: 200px; }

#remote input { color: #333; }

#remote .twitter-typeahead{
    width: 100%;
}

#results {
    text-align: left;
}

div.suggestion-name {
    font-weight: bold;
    text-align: left;
}
div.suggestion-stats {
    font-size: 0.8em;
    text-align: right;
}

.typeahead {
    border: 1px;
}

.typeahead:focus{
    border: 1px solid #0097CF
}

div.tt-menu{
    background-color: white;
    color: black;
    margin: 12px;
}